body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     display: flex;
    flex-direction: column;
}

.section1, footer{
    background-color: #1f2937;
}


.header, .hero-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 90px;
}

.logo, .hero-left {
    margin-left: 300px;
}

.links, .placeholder-image {
    margin-right: 300px;
}

.placeholder-image {
    width: 450px;
    height: 240px ;
}

.links {
    display: flex;
    gap: 30px;
}

.logo {
    font-size: 24px;
    color: #faf9f8;
}


.main-text {
    font-size: 48px;
    font-weight: 900;
    width: 400px;
    color: #faf9f8;
}
.sub-text {
    width: 420px;
    margin-bottom: 30px;
}

.section2 {
    padding: 150px 0;
}

.info-text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 35px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info {
    flex-shrink: 1;
}

.info div {
    width: 250px;
    margin: auto;
} 

.info img {
    width: 300px;
    border: solid 3px #3882f6;
    border-radius: 4%;
}

.sub-text, .links a{
    font-size: 18px;
    color: #e5e7eb;
}


.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    gap: 30px;
    background-color: #e5e7eb;
}

.quote {
    max-width: 900px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    align-self: stretch;
    font-size: 36px;
    font-weight:900 ;
    text-align: center;
    margin-left: 50%;
}






a {
text-decoration: none;
}




